body {
  padding: 1em;
  font-family: 'Oswald';
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.legend {
  color: #333;
}


.speedbox {
  background-color: #eee;
  height: 600px;
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  position: relative;

margin: auto;
top: 10%;

background-image: radial-gradient( #ff99cc 60%, #112  70%);
}

.speedbox__score {

  margin: auto;
  position: relative;  
  transform: rotate(-45deg);
  -webkit-transform: rotate(0deg);
  height: 480px;
  width: 480px;
  /* background: transparent; */
  border-radius: 50%;
  /* border: 30px solid gray; */

  /* border-color: transparent transparent transparent
  greenyellow; */

  background: blue;
  
  
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}


.speedbox__score::before {
  border-radius: 50%;
  position: absolute;
  content: '';
	background:
		linear-gradient(0deg,   hsla(0, 0%, 100%, 1  ) 50%, hsla(0, 0%, 100%, 0.9) 100%)   0%   0%,
		linear-gradient(90deg,  hsla(0, 0%, 100%, 0.9)  0%, hsla(0, 0%, 100%, 0.6) 100%) 100%   0%,
		linear-gradient(180deg, hsla(0, 0%, 100%, 0.6)  0%, hsla(0, 0%, 100%, 0.3) 100%) 100% 100%,
		linear-gradient(360deg, hsla(0, 0%, 100%, 0.3)  0%, hsla(0, 0%, 100%, 0  ) 100%)   0% 100%
	;
	background-repeat: no-repeat;
	background-size: 50% 50%;
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
}


.speedbox__score::after {
  position: absolute;
  content: '';
	background: #112;
	border-radius: 50%;
	top: 3%;
	bottom: 3%;
	left: 3%;
	right: 3%;
}


.speedbox__base {
  width: 600px;
  height: 250px;
  background: #112;

  position: absolute;
  bottom: 0px;
  z-index: 20;
}

.logo {
  width: 100px;
  position: relative;
  margin-right: 15%;
  top: -120px;
}

.fart {
  color: white;
  font-size: 35px;
  font: bold;
  text-shadow: 0 0 3px rgba(167, 167, 167, 0.2);
  line-height: 1.2em;
  text-align: right;
  position: relative;
  /* top: 130px; */
  bottom: 250px;
  width: 150px;

  /* background-color: teal; */
  z-index: 30;
}

.background {
  position: absolute;
  width: 440px;
  height: 440px;
  border-radius: 50%;
  /* box-shadow: 10 10 20px 20 white inset; */
  /* box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;  */
  z-index: -1;
  top: -207px;
  margin-left: -295px;
  /* border: solid 5px rgba(0,0,0,0.3); */

}

.info {
  width: 75px;
  height: 75px;
  position: absolute;
  margin-left: 26%;
  top: 110%;
  /* background-color: pink; */
}

.round {
  position: absolute;
  border: 4px solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

/* ------------------------------------ */

.arrows {
  /* transform: rotate(90deg); */
  width: 60px;
  height: 72px;
  position: absolute;
  left: 45%;
  margin-left: -32px;
  bottom: 0px;
}

.arrows path {
  stroke: #2994D1;
  fill: transparent;
  stroke-width: 5px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow 
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; 
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; 
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; 
}


/* ------------------------------------ */






.speedbox__base:before {
  content: '0';
  text-align: right;
  color: #348514;
  width: 40px;
  position: relative;
  top: -5;
  float: left;
  -webkit-box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
}

.speedbox__base::after {
  content: '100';

  color: #348514;
  width: 40px;
  position: relative;
  float: right;
  top: -5;
  -webkit-box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
}


